:ruby
  # Expected locals
  #   orders <Array of Spree::Order> could be defined by the variable iterating the collection.

= render 'spree/shared/error_messages', target: orders.try(:first) if orders.try(:first)
- orders.each do|order|
  .box-shadow
    - next if order.store_id.nil? || order.store.nil?
    = form_for order, url: order_path(id: order.id), html: {id: 'update-cart'} do |order_form|
      - seller_id = order.store.user_id
      = hidden_field_tag(:user_id, seller_id)
      .card.mt-4
        .box-body
          -# Order ##{order.id} w/ #{order.line_items.size} items, store #{order.store_id}, user_id #{seller_id}
          .cart-heading
            .checkbox.col-md-9
              %label
                %input{:type => "checkbox"}
                %span{:class => "cr"}
                  %i{:class => "cr-icon fa fa-check"}
                - if seller_id && (user = order.store.user )
                  = user.display_name
            .change-seller.col-md-3
              = link_to('Change seller', '#')
          .cart-content
            = render partial: 'spree/orders/line_item', collection: order.line_items, locals: { order_form: order_form }
          .cart-adjust
            = render 'spree/orders/adjustments'
          .cart-total.align-right
            - if order.line_items.length > 1
              %h5
                Sub 
                = t('spree.total')
                = order.display_total
            .payment-paypal
              = link_to checkout_state_path(state:'address', order_id: order.id), class: 'checkout primary btn btn-bg-black', id: 'checkout-link', name: 'checkout' do
                Checkout with 
                %strong
                  Paypal
            .payment-other
              = link_to('Other ways to pay', '#')
              -#= t('spree.checkout')