:ruby
  # Expected instance variables:
  #   @product
  # Optional instance variables:
  #   @variant <Spree::Variant> for page like showing variant as main resource/model.
:css
  .option-value-button { background: none; border: solid 1px #666666; border-radius: 0.5em; }
  .btn-current { color: white; background-color: black; }
  .btn-available { cursor: pointer; text-decoration: none; opacity: 1.0; }
  .btn-unavailable { cursor: not-allowed; text-decoration: line-through #999999;
    background-color: #f0f0f0; opacity: 0.5; }

:javascript
  var selectedSetOfVariantIds = [];
  var selectedVariantId;
  function selectOptionValue(e) {
    var data = $(this).attr('data');
    if (data && data != "") {
      $('.option-value-button').removeClass('btn-current');
      $(this).addClass('btn-current');
      selectedSetOfVariantIds = data.split(" ");
      if (typeof(refreshImageAndThumbnails) == 'function'){ refreshImageAndThumbnails(selectedSetOfVariantIds[0] ); }
      if (selectedSetOfVariantIds.length == 1) {
        selectedVariantId = selectedSetOfVariantIds[0];
        document.forms["cart_form"]["variant_id"].value = selectedVariantId;
      }
      $(".secondary-option-type-row .option-value-button").each(function(idx){
        var otherData = $(this).attr('data');
        var otherVariantIds = otherData.split(' ');
        var commonVariantIds = otherVariantIds.filter(value => selectedSetOfVariantIds.includes(value));
        if (commonVariantIds.length < 1) {
          $(this).removeClass('btn-available').addClass('btn-unavailable');
        } else {
          $(this).removeClass('btn-unavailable').addClass('btn-available');
        }
        // console.log("* has "+ variantId +"? " + otherVariantIds);
      });
    }
  }
  function selectSecondaryOptionValue(e) {
    var data = $(this).attr('data');
    if (data && data != "") {
      var curVariantIds = data.split(" ");
      var commonVariantIds = curVariantIds.filter(value => selectedSetOfVariantIds.includes(value));
      selectedVariantId = commonVariantIds[0];
      document.forms["cart_form"]["variant_id"].value = selectedVariantId;
      console.log("| selected: " + selectedSetOfVariantIds +" vs cur " + curVariantIds );
      console.log("| selectedVariantId = "+ selectedVariantId );
    }
  }

  $(function(){
    $('#option_type_row_1 .option-value-button').click(selectOptionValue);
    $('.secondary-option-type-row .option-value-button').click(selectSecondaryOptionValue);
  });

= form_for :order, url: populate_orders_path, html:{ name:'cart_form' } do |f|
  #inside-product-cart-form(data-hook="inside_product_cart_form" itemprop="offers" itemscope itemtype="http://schema.org/Offer")
    - if @product.variants_and_option_values_for(current_pricing_options).any?
      #product-variants(class="columns five alpha")
        - option_type_index = 0
        - @product.hash_of_option_type_ids_and_values.each_pair do|option_type_id, option_values|
          - option_type_index += 1
          %div(class="row option-type-row#{option_type_index>1 ? ' secondary-option-type-row' : ''}" id='option_type_row_#{option_type_index}')
            %label
              %strong=option_values.first.option_type.presentation
              %br/
              - option_values.each do|option_value|
                - is_current_variant = @variant ? option_value.variant_ids.include?(@variant.id) : false
                %button(type='button' class="btn btn-sm #{is_current_variant ? 'btn-current' : ''} option-value-button" data="#{option_value.variant_ids.collect(&:to_s).join(' ')}")=option_value.presentation
        %br/
        %ul
          - @product.variants_and_option_values_for(current_pricing_options).each_with_index do |variant, index|
            %li
              = radio_button_tag 'variant_id', variant.id, index == 0 || @variant.try(:id) == variant.id, 'data-price' => variant.price_for(current_pricing_options)
              = label_tag "variant_id_#{ variant.id }" do
                %span.variant-description
                  = variant_options variant
                - if variant_price variant
                  %span.price.diff= variant_price variant
                - unless variant.can_supply?
                  %span.out-of-stock= t('spree.out_of_stock')
    - else
      = hidden_field_tag 'variant_id', @product.master.id
    - if @product.price_for(current_pricing_options) and !@product.price.nil?
      %div(data-hook="product_price" class="columns five #{ !@product.has_variants? ? 'alpha' : 'omega' }")
        #product-price
          %h6.product-section-title= t('spree.price')
          %div
            %span.price.selling(itemprop="price" content="#{ @product.price_for(current_pricing_options).to_d }")
              = display_price(@product)
            %span(itemprop="priceCurrency" content="#{ current_pricing_options.currency }")
          - if @product.master.can_supply?
            %link(itemprop="availability" href="http://schema.org/InStock")
          - elsif @product.variants.empty?
            %br/
            %span.out-of-stock= t('spree.out_of_stock')
        .add-to-cart
          = number_field_tag :quantity, 1, class: 'title', min: 1
          = button_tag class: 'large primary', id: 'add-to-cart-button', type: :submit do
            = t('spree.add_to_cart')
    - else
      %div(data-hook="product_price")
        #product-price
          %br/
          %div
            %span.price.selling(itemprop="price")= t('spree.product_not_available_in_this_currency')