<!-- Main Content Wrapper Start -->
<div class="container pb-12"
<div id="content" class="main-content-wrapper">
    <div class="page-content-inner enable-full-width">
      <div id="wrapper" class="row" data-hook>
        <div class="content-section col-5">
          <!-- ############## GALLERY SECTIONS ############ -->
          <div class="product-main-image">
              <div class="product-image">
                  <div class="product-gallery">
                      <div class="product-gallery__large-image">
                          <figure class="product-gallery__image">
                              <%= render partial: 'product_gallery', locals: { product: @product } %>
                          </figure>
                          <figure class="product-gallery__image">
                              <%= render partial: 'product_gallery', locals: { product: @product } %>
                          </figure>
                          <figure class="product-gallery__image">
                              <%= render partial: 'product_gallery', locals: { product: @product } %>
                          </figure>
                          <figure class="product-gallery__image">
                              <%= render partial: 'product_gallery', locals: { product: @product } %>
                          </figure>
                          <div class="product-gallery__actions">
                              <button class="action-btn btn-zoom-popup"><i class="dl-icon-zoom-in"></i></button>
                              <a href="https://www.youtube.com/watch?v=Rp19QD2XIGM" class="action-btn video-popup"><i class="dl-icon-format-video"></i></a>
                          </div>
                      </div>
                  </div>
                  <span class="product-badge new">New</span>
              </div>

            </div>
          <!-- ############## END GALLERY SECTION ############ -->
        </div>

      <div class="col-7">
          <div class="make-me-sticky">
            <!-- ############## SIDEBAR SECTIONS ############ -->
                <div class="product-summary mt--40 mt-md--10 mt-sm--30">
                    <div class="product-rating float-left">
                        <span>
                            <i class="dl-icon-star rated"></i>
                            <i class="dl-icon-star rated"></i>
                            <i class="dl-icon-star rated"></i>
                            <i class="dl-icon-star rated"></i>
                            <i class="dl-icon-star rated"></i>
                        </span>
                        <a href="" class="review-link">(1 customer review)</a>
                    </div>
                    <div class="product-navigation">
                        <a href="#" class="prev"><i class="dl-icon-left"></i></a>
                        <a href="#" class="next"><i class="dl-icon-right"></i></a>
                    </div>
                    <div class="clearfix"></div>
                    <h3 class="product-title">Waxed-effect pleated skirt</h3>
                    <span class="product-stock in-stock float-right">
                        <i class="dl-icon-check-circle1"></i>
                        in stock
                    </span>
                    <div class="product-price-wrapper mb--40 mb-md--10">
                        <span class="money">$49.00</span>
                        <span class="old-price">
                            <span class="money">$60.00</span>
                        </span>
                    </div>
                    <div class="clearfix"></div>
                    <p class="product-short-description mb--45 mb-sm--20">Donec accumsan auctor iaculis. Sed suscipit arcu ligula, at egestas magna molestie a. Proin ac ex maximus, ultrices justo eget, sodales orci. Aliquam egestas libero ac turpis pharetra, in vehicula lacus scelerisque. Vestibulum ut sem laoreet, feugiat tellus at, hendrerit arcu.</p>
                    <form action="#" class="form--action mb--30 mb-sm--20">
                        <div class="product-action flex-row align-items-center">
                            <div class="quantity">
                                <input type="number" class="quantity-input" name="qty" id="qty" value="1" min="1">
                            </div>
                            <button type="button" class="btn btn-style-1 btn-large add-to-cart">
                                Add To Cart
                            </button>
                            <a href="wishlist.html"><i class="dl-icon-heart2"></i></a>
                            <a href="compare.html"><i class="dl-icon-compare2"></i></a>
                        </div>
                    </form>
                    <div class="product-summary-footer d-flex justify-content-between flex-sm-row flex-column">
                        <div class="product-meta">
                            <span class="sku_wrapper font-size-12">SKU: <span class="sku">REF. LA-887</span></span>
                            <span class="posted_in font-size-12">Categories:
                                <%= render partial: 'taxons' %>
                            </span>
                        </div>
                        <!--<div class="product-share-box">
                            <span class="font-size-12">Share With</span>
                            <!-- Social Icons Start Here
                            <ul class="social social-small">
                                <li class="social__item">
                                    <a href="facebook.com" class="social__link">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li class="social__item">
                                    <a href="twitter.com" class="social__link">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="social__item">
                                    <a href="plus.google.com" class="social__link">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </li>
                                <li class="social__item">
                                    <a href="plus.google.com" class="social__link">
                                        <i class="fa fa-pinterest-p"></i>
                                    </a>
                                </li>
                            </ul>
                            <!-- Social Icons End Here
                        </div>-->
                    </div>
                </div>
            <!-- ############## END SIDEBAR SECTION ############ -->
          </div>
      </div>
      <!-- ############## Anything after the sidebar --- description etc. ############ -->
      </div>
    </div>
</div>
</div>
<div class="bg-secondary padding-top-3x padding-bottom-2x mb-3 mt-12" id="details">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3 class="h4">Details</h3>
        <p class="mb-4">
            <%= product_description(@product) rescue t('spree.product_has_no_description') %>
        </p>
        <!--<h3 class="h4">Features</h3>
        <ul class="list-icon mb-4">
          <li><i class="icon-check text-success"></i>Capture 4K30 Video and 12MP Photos</li>
          <li><i class="icon-check text-success"></i>Game-Style Controller with Touchscreen</li>
          <li><i class="icon-check text-success"></i>View Live Camera Feed</li>
          <li><i class="icon-check text-success"></i>Full Control of HERO6 Black</li>
          <li><i class="icon-check text-success"></i>Use App for Dedicated Camera Operation</li>
        </ul>-->
      </div>
      <div class="col-md-6">
        <div data-hook="product_properties">
          <%= render partial: 'properties' %>
        </div>

        <div data-hook="promotions">
          <%= render partial: 'promotions' %>
        </div>
      </div>
    </div>
  </div>
</div>
