:ruby
  # Required locals:
  #   f: <FormBuilder>
  # Optional locals:
  #   index: <Integer> can be used as suffix to form input's ID
  #   row_id: <String>
  index = nil unless defined?(index)
  id_suffix = index ? "_#{index}" : ''
  row_id = 'new_product_image_row' unless defined?(row_id)
  style = 'display: none;' if row_id == 'new_product_image_row'
%tr(id="#{row_id}" class="product-image-row" style="#{style}")
  %td
    - if can?(:update_positions, Spree::Image)
      %span.handle
  %td
  %td
    - if @variants
      = f.select :image_viewable_ids, options_for_select(@variants), {}, name: "product[image_viewable_ids][]", id:"product_image_viewable_id#{id_suffix}", class:'fullwidth', autocomplete:'off'
  %td
    = f.text_field('image_alts', name: "product[image_alts][]", id:"product_image_alt#{id_suffix}")
  %td.actions
    - if can?(:create, Spree::Image)
      = f.file_field('uploaded_images', name: "product[uploaded_images][]", id:"product_uploaded_image#{id_suffix}")