:ruby
  # Required locals:
  #   product
  #   variant
%tr(id="#{spree_dom_id variant}" data-hook="variants_row" class="#{ 'deleted' if variant.deleted? }")
  %td
    - if can? :update_positions, Spree::Variant
      %span.handle
  %td
    %table
      %tbody
        = fields_for variant do|vf|
          - @product.option_types.each do |option_type|
            %tr
              %td
                = vf.label 'option_value_ids', option_type.presentation
              %td
                = vf.collection_select 'option_value_ids', option_type.option_values,
                  :id, :presentation, { include_blank: true }, |
                  { name: 'variant[option_value_ids][]',  class: 'custom-select', |
                    id: "option_value_ids_#{option_type.presentation}" } |
    -#{variant.options_text }
  %td
    = fields_for variant do|vf|
      = vf.label(:price)
      = render 'spree/admin/shared/number_with_currency', f: vf, amount_attr: :price, currency: variant.default_price.currency
      %br/
      = vf.label :sku
      = vf.text_field(:sku)
  %td.actions
    - if can?(:update, variant)
      = link_to_with_icon 'check', t('spree.actions.save'), api_product_variant_path(product, variant), no_text: true, data: {action: 'save'}
      = link_to_with_icon 'cancel', t('spree.actions.cancel'), nil, no_text: true, data: {action: 'cancel'}
      = link_to_edit(variant, url: polymorphic_url([:edit, :admin, product, variant], host:'localhost' ), no_text: true) unless variant.deleted?
    - if can?(:destroy, variant)
      &nbsp;
      = link_to_delete(variant, url: polymorphic_url([:admin, product, variant], host:'localhost' ), no_text: true) unless variant.deleted?
  - if @product.variants.empty?
    %tr
      %td(colspan="4") #{ t('spree.none') }