<!-- Topbar-->
<div class="topbar d-flex justify-content-between">
  <!-- Logo-->
  <div class="site-branding d-flex"><%= logo img_options: {class: 'img-responsive', width: '64'} %></a></div>
  <!-- Search / Categories-->
  <div class="search-box-wrap d-flex">
    <div class="search-box-inner align-self-center">
      <div class="search-box d-flex">
        <div class="btn-group categories-btn">
          <button class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"></i>&nbsp;Categories</button>
          <div class="dropdown-menu mega-dropdown">
            <div class="row">
              <div class="col-sm-3">
                <a class="d-block navi-link text-center mb-30" href="shop-grid-ls.html"><img class="d-block" src="/img/shop/header-categories/01.jpg"><span class="text-gray-dark">Computers &amp; Accessories</span></a>
              </div>
              <div class="col-sm-3">
                <a class="d-block navi-link text-center mb-30" href="shop-grid-ls.html"><img class="d-block" src="/img/shop/header-categories/02.jpg"><span class="text-gray-dark">Smartphones &amp; Tablets</span></a>
              </div>
              <div class="col-sm-3">
                <a class="d-block navi-link text-center mb-30" href="shop-grid-ls.html"><img class="d-block" src="/img/shop/header-categories/03.jpg"><span class="text-gray-dark">TV, Video &amp; Audio</span></a>
              </div>
              <div class="col-sm-3">
                <a class="d-block navi-link text-center mb-30" href="shop-grid-ls.html"><img class="d-block" src="/img/shop/header-categories/04.jpg"><span class="text-gray-dark">Cameras, Photo &amp; Video</span></a>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3">
                <a class="d-block navi-link text-center mb-30" href="shop-grid-ls.html"><img class="d-block" src="/img/shop/header-categories/05.jpg"><span class="text-gray-dark">Headphones</span></a>
              </div>
              <div class="col-sm-3">
                <a class="d-block navi-link text-center mb-30" href="shop-grid-ls.html"><img class="d-block" src="/img/shop/header-categories/06.jpg"><span class="text-gray-dark">Wearable Electronics</span></a>
              </div>
              <div class="col-sm-3">
                <a class="d-block navi-link text-center mb-30" href="shop-grid-ls.html"><img class="d-block" src="/img/shop/header-categories/07.jpg"><span class="text-gray-dark">Printers &amp; Ink</span></a>
              </div>
              <div class="col-sm-3">
                <a class="d-block navi-link text-center mb-30" href="shop-grid-ls.html"><img class="d-block" src="/img/shop/header-categories/08.jpg"><span class="text-gray-dark">Video Games</span></a>
              </div>
            </div>
          </div>
        </div>
        <form class="input-group" method="get"><span class="input-group-btn">
          <button type="submit"><i class="icon-search"></i></button></span>
          <input class="form-control" type="search" placeholder="Search tbd for anything">
        </form>
      </div>
    </div>
  </div>
  <!-- Toolbar-->
  <div class="toolbar d-flex">
    <div class="toolbar-item visible-on-mobile mobile-menu-toggle"><a href="#">
      <div><i class="icon-menu"></i><span class="text-label">Menu</span></div>
    </a></div>
    <div class="toolbar-item hidden-on-mobile"><a href="#">
      <div><i class="flag-icon"><img src="/img/flags/EN.png" alt="English"></i><span class="text-label">Eng / Usd</span>
      </div>
    </a>
      <ul class="toolbar-dropdown lang-dropdown">
        <li class="px-3 pt-1 pb-2">
          <select class="form-control form-control-sm">
            <option value="usd">$ USD</option>
            <option value="usd">€ EUR</option>
            <option value="usd">£ UKP</option>
            <option value="usd">¥ JPY</option>
          </select>
        </li>
        <li><a href="#"><i class="flag-icon"><img src="/img/flags/FR.png" alt="Français"></i>&nbsp;Français</a></li>
        <li><a href="#"><i class="flag-icon"><img src="/img/flags/DE.png" alt="Deutsch"></i>&nbsp;Deutsch</a></li>
        <li><a href="#"><i class="flag-icon"><img src="/img/flags/IT.png" alt="Italiano"></i>&nbsp;Italiano</a></li>
      </ul>
    </div>
    <div class="toolbar-item hidden-on-mobile">
      <% if spree_current_user -%>
        <p class="text-xs mb-3 pt-2">
          <a class="btn btn-primary btn-sm btn-block" href="<%= logout_path -%>" title="User (<%= spree_current_user.id -%>): <%= spree_current_user.username || spree_current_user.email -%>">Sign Out</a>
        </p>
      <% else # not logged in -%>
      <a href="<%= login_path -%>">
        <div><i class="icon-user"></i><span class="text-label">Sign In / Up</span></div>
      </a>
      <div class="toolbar-dropdown text-center px-3">
        <p class="text-xs mb-3 pt-2">Sign in to your account or register new one to have full control over your orders,
          receive bonuses and more.</p><a class="btn btn-primary btn-sm btn-block" href="<%= login_path -%>">Sign In</a>
        <p class="text-xs text-muted mb-2">New customer?&nbsp;<a href="<%= signup_path %>">Register</a></p>
      </div>
      <% end # not logged in %>
    </div>
    <div class="toolbar-item"><a href="cart.html">
      <div>
        <span class="cart-icon"><i class="icon-shopping-cart"></i><span class="count-label">3   </span></span><span class="text-label">Cart</span>
      </div>
    </a>
      <div class="toolbar-dropdown cart-dropdown widget-cart hidden-on-mobile">
        <!-- Entry-->
        <div class="entry">
          <div class="entry-thumb"><a href="shop-single.html"><img src="/img/shop/widget/04.jpg" alt="Product"></a>
          </div>
          <div class="entry-content">
            <h4 class="entry-title"><a href="shop-single.html">Canon EOS M50 Mirrorless Camera</a></h4>
            <span class="entry-meta">1 x $910.00</span>
          </div>
          <div class="entry-delete"><i class="icon-x"></i></div>
        </div>
        <!-- Entry-->
        <div class="entry">
          <div class="entry-thumb"><a href="shop-single.html"><img src="/img/shop/widget/05.jpg" alt="Product"></a>
          </div>
          <div class="entry-content">
            <h4 class="entry-title"><a href="shop-single.html">Apple iPhone X 256 GB Space Gray</a></h4>
            <span class="entry-meta">1 x $1,450.00</span>
          </div>
          <div class="entry-delete"><i class="icon-x"></i></div>
        </div>
        <!-- Entry-->
        <div class="entry">
          <div class="entry-thumb"><a href="shop-single.html"><img src="/img/shop/widget/06.jpg" alt="Product"></a>
          </div>
          <div class="entry-content">
            <h4 class="entry-title"><a href="shop-single.html">HP LaserJet Pro Laser Printer</a></h4>
            <span class="entry-meta">1 x $188.50</span>
          </div>
          <div class="entry-delete"><i class="icon-x"></i></div>
        </div>
        <div class="text-right">
          <p class="text-gray-dark py-2 mb-0"><span class='text-muted'>Subtotal:</span> &nbsp;$2,548.50</p>
        </div>
        <div class="d-flex">
          <div class="pr-2 w-50"><a class="btn btn-secondary btn-sm btn-block mb-0" href="cart.html">Expand Cart</a>
          </div>
          <div class="pl-2 w-50"><a class="btn btn-primary btn-sm btn-block mb-0" href="checkout.html">Checkout</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Mobile Menu-->
  <div class="mobile-menu">
    <!-- Search Box-->
    <div class="mobile-search">
      <form class="input-group" method="get"><span class="input-group-btn">
          <button type="submit"><i class="icon-search"></i></button></span>
        <input class="form-control" type="search" placeholder="Search site">
      </form>
    </div>
    <!-- Toolbar-->
    <div class="toolbar">
      <div class="toolbar-item"><a href="#">
        <div>
          <i class="flag-icon"><img src="/img/flags/EN.png" alt="English"></i><span class="text-label">Eng / Usd</span>
        </div>
      </a>
        <ul class="toolbar-dropdown lang-dropdown w-100">
          <li class="px-3 pt-1 pb-2">
            <select class="form-control form-control-sm">
              <option value="usd">$ USD</option>
              <option value="usd">€ EUR</option>
              <option value="usd">£ UKP</option>
              <option value="usd">¥ JPY</option>
            </select>
          </li>
          <li><a href="#"><i class="flag-icon"><img src="/img/flags/FR.png" alt="Français"></i>&nbsp;Français</a></li>
          <li><a href="#"><i class="flag-icon"><img src="/img/flags/DE.png" alt="Deutsch"></i>&nbsp;Deutsch</a></li>
          <li><a href="#"><i class="flag-icon"><img src="/img/flags/IT.png" alt="Italiano"></i>&nbsp;Italiano</a></li>
        </ul>
      </div>
      <div class="toolbar-item"><a href="product-comparison.html">
        <div>
          <span class="compare-icon"><i class="icon-repeat"></i><span class="count-label">3</span></span><span class="text-label">Compare</span>
        </div>
      </a></div>
      <div class="toolbar-item"><a href="account-login.html">
        <div><i class="icon-user"></i><span class="text-label">Sign In / Up</span></div>
      </a></div>
    </div>
    <!-- Slideable (Mobile) Menu-->
    <nav class="slideable-menu">
      <ul class="menu" data-initial-height="385">
        <li class="has-children active"><span><a href="index.html">Home</a><span class="sub-menu-toggle"></span></span>
          <ul class="slideable-submenu">
            <li class="active"><a href="index.html">Hero Slider</a></li>
            <li><a href="home-featured-categories.html">Categories Grid</a></li>
          </ul>
        </li>
        <li class="has-children"><span><a href="shop-grid-ls.html">Shop</a><span class="sub-menu-toggle"></span></span>
          <ul class="slideable-submenu">
            <li><a href="shop-categories.html">Shop Categories</a></li>
            <li class="has-children">
              <span><a href="shop-grid-ls.html">Shop Grid</a><span class="sub-menu-toggle"></span></span>
              <ul class="slideable-submenu">
                <li><a href="shop-grid-ls.html">Grid Left Sidebar</a></li>
                <li><a href="shop-grid-rs.html">Grid Right Sidebar</a></li>
                <li><a href="shop-grid-ns.html">Grid No Sidebar</a></li>
              </ul>
            </li>
            <li class="has-children">
              <span><a href="shop-list-ls.html">Shop List</a><span class="sub-menu-toggle"></span></span>
              <ul class="slideable-submenu">
                <li><a href="shop-list-ls.html">List Left Sidebar</a></li>
                <li><a href="shop-list-rs.html">List Right Sidebar</a></li>
                <li><a href="shop-list-ns.html">List No Sidebar</a></li>
              </ul>
            </li>
            <li><a href="shop-single.html">Single Product</a></li>
            <li><a href="cart.html">Cart</a></li>
            <li class="has-children">
              <span><a href="checkout-address.html">Checkout</a><span class="sub-menu-toggle"></span></span>
              <ul class="slideable-submenu">
                <li><a href="checkout-address.html">Address</a></li>
                <li><a href="checkout-shipping.html">Shipping</a></li>
                <li><a href="checkout-payment.html">Payment</a></li>
                <li><a href="checkout-review.html">Review</a></li>
                <li><a href="checkout-complete.html">Complete</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="has-children"><span><a href="#">Categories</a><span class="sub-menu-toggle"></span></span>
          <ul class="slideable-submenu">
            <li><a href="#">Computers &amp; Accessories</a></li>
            <li><a href="#">Smartphones &amp; Tablets</a></li>
            <li><a href="#">TV, Video &amp; Audio</a></li>
            <li><a href="#">Cameras, Photo &amp; Video</a></li>
            <li><a href="#">Headphones</a></li>
            <li><a href="#">Wearable Electronics</a></li>
            <li><a href="#">Printers &amp; Ink</a></li>
            <li><a href="#">Video Games</a></li>
          </ul>
        </li>
        <
        <li class="has-children">
          <span><a href="account-orders.html">Account</a><span class="sub-menu-toggle"></span></span>
          <ul class="slideable-submenu">
            <li><a href="account-login.html">Login / Register</a></li>
            <li><a href="account-password-recovery.html">Password Recovery</a></li>
            <li><a href="account-orders.html">Orders List</a></li>
            <li><a href="account-wishlist.html">Wishlist</a></li>
            <li><a href="account-profile.html">Profile Page</a></li>
            <li><a href="account-address.html">Contact / Shipping Address</a></li>
            <li><a href="account-open-ticket.html">Open Ticket</a></li>
            <li><a href="account-tickets.html">My Tickets</a></li>
            <li><a href="account-single-ticket.html">Single Ticket</a></li>
          </ul>
        </li>
        <li class="has-children"><span><a href="blog-rs.html">Blog</a><span class="sub-menu-toggle"></span></span>
          <ul class="slideable-submenu">
            <li class="has-children">
              <span><a href="blog-rs.html">Blog Layout</a><span class="sub-menu-toggle"></span></span>
              <ul class="slideable-submenu">
                <li><a href="blog-rs.html">Blog Right Sidebar</a></li>
                <li><a href="blog-ls.html">Blog Left Sidebar</a></li>
                <li><a href="blog-ns.html">Blog No Sidebar</a></li>
              </ul>
            </li>
            <li class="has-children">
              <span><a href="blog-single-rs.html">Single Post Layout</a><span class="sub-menu-toggle"></span></span>
              <ul class="slideable-submenu">
                <li><a href="blog-single-rs.html">Post Right Sidebar</a></li>
                <li><a href="blog-single-ls.html">Post Left Sidebar</a></li>
                <li><a href="blog-single-ns.html">Post No Sidebar</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="has-children"><span><a href="#">Pages</a><span class="sub-menu-toggle"></span></span>
          <ul class="slideable-submenu">
            <li><a href="about.html">About Us</a></li>
            <li><a href="contacts.html">Contacts</a></li>
            <li><a href="faq.html">Help / FAQ</a></li>
            <li><a href="product-comparison.html">Product Comparison</a></li>
            <li><a href="order-tracking.html">Order Tracking</a></li>
            <li><a href="search-results.html">Search Results</a></li>
            <li><a href="404.html">404 Not Found</a></li>
            <li><a href="coming-soon.html">Coming Soon</a></li>
            <li><a class="text-danger" href="docs/dev-setup.html">Documentation</a></li>
          </ul>
        </li>
        <li class="has-children">
          <span><a href="components/accordion.html">Components</a><span class="sub-menu-toggle"></span></span>
          <ul class="slideable-submenu">
            <li><a href="components/accordion.html">Accordion</a></li>
            <li><a href="components/alerts.html">Alerts</a></li>
            <li><a href="components/buttons.html">Buttons</a></li>
            <li><a href="components/cards.html">Cards</a></li>
            <li><a href="components/carousel.html">Carousel</a></li>
            <li><a href="components/countdown.html">Countdown</a></li>
            <li><a href="components/forms.html">Forms</a></li>
            <li><a href="components/gallery.html">Gallery</a></li>
            <li><a href="components/google-maps.html">Google Maps</a></li>
            <li><a href="components/images.html">Images &amp; Figures</a></li>
            <li><a href="components/list-group.html">List Group</a></li>
            <li><a href="components/market-social-buttons.html">Market &amp; Social Buttons</a></li>
            <li><a href="components/media.html">Media Object</a></li>
            <li><a href="components/modal.html">Modal</a></li>
            <li><a href="components/pagination.html">Pagination</a></li>
            <li><a href="components/pills.html">Pills</a></li>
            <li><a href="components/progress-bars.html">Progress Bars</a></li>
            <li><a href="components/shop-items.html">Shop Items</a></li>
            <li><a href="components/steps.html">Steps</a></li>
            <li><a href="components/tables.html">Tables</a></li>
            <li><a href="components/tabs.html">Tabs</a></li>
            <li><a href="components/team.html">Team</a></li>
            <li><a href="components/toasts.html">Toast Notifications</a></li>
            <li><a href="components/tooltips-popovers.html">Tooltips &amp; Popovers</a></li>
            <li><a href="components/typography.html">Typography</a></li>
            <li><a href="components/video-player.html">Video Player</a></li>
            <li><a href="components/widgets.html">Widgets</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</div>
<!-- Navbar-->
<div class="navbar">
  <div class="btn-group categories-btn">
    <button class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"></button>
    <div class="dropdown-menu mega-dropdown">
      <div class="row">
        <div class="col-sm-3">
          <a class="d-block navi-link text-center mb-30" href="shop-grid-ls.html"><img class="d-block" src="/img/shop/header-categories/01.jpg"><span class="text-gray-dark">Computers &amp; Accessories</span></a>
        </div>
        <div class="col-sm-3">
          <a class="d-block navi-link text-center mb-30" href="shop-grid-ls.html"><img class="d-block" src="/img/shop/header-categories/02.jpg"><span class="text-gray-dark">Smartphones &amp; Tablets</span></a>
        </div>
        <div class="col-sm-3">
          <a class="d-block navi-link text-center mb-30" href="shop-grid-ls.html"><img class="d-block" src="/img/shop/header-categories/03.jpg"><span class="text-gray-dark">TV, Video &amp; Audio</span></a>
        </div>
        <div class="col-sm-3">
          <a class="d-block navi-link text-center mb-30" href="shop-grid-ls.html"><img class="d-block" src="/img/shop/header-categories/04.jpg"><span class="text-gray-dark">Cameras, Photo &amp; Video</span></a>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <a class="d-block navi-link text-center mb-30" href="shop-grid-ls.html"><img class="d-block" src="/img/shop/header-categories/05.jpg"><span class="text-gray-dark">Headphones</span></a>
        </div>
        <div class="col-sm-3">
          <a class="d-block navi-link text-center mb-30" href="shop-grid-ls.html"><img class="d-block" src="/img/shop/header-categories/06.jpg"><span class="text-gray-dark">Wearable Electronics</span></a>
        </div>
        <div class="col-sm-3">
          <a class="d-block navi-link text-center mb-30" href="shop-grid-ls.html"><img class="d-block" src="/img/shop/header-categories/07.jpg"><span class="text-gray-dark">Printers &amp; Ink</span></a>
        </div>
        <div class="col-sm-3">
          <a class="d-block navi-link text-center mb-30" href="shop-grid-ls.html"><img class="d-block" src="/img/shop/header-categories/08.jpg"><span class="text-gray-dark">Video Games</span></a>
        </div>
      </div>
    </div>
  </div>
