.container
  .row
    .sidebar-item.hidden-sm.hidden-xs
      .make-me-sticky
        .col
          %div{"data-hook" => "homepage_sidebar_navigation"}
            - if "spree/variants" == params[:controller] && @taxon
              = render partial: 'spree/shared/filters'
            - else
              = render partial: 'spree/shared/taxonomies'
    .col
      - if params[:keywords]
        %div{"data-hook" => "search_results"}
          - if @variants.empty?
            %h6.search-results-title= t('spree.no_products_found')
          - else
            = render partial: 'spree/shared/variants', locals: { variants: @variants, taxon: @taxon }
      - else
        %div{"data-hook" => "homepage_products"}
          = render partial: 'spree/shared/variants', locals: { variants: @variants, taxon: @taxon }
