- content_for :footer_extra do
  :javascript
    function activateVariant(e) {
      var variantId = $(this).attr('value');
      //console.log('Variant ID: ' + variantId);
      refreshImageAndThumbnails(variantId);
    }
    function refreshImageAndThumbnails(variantId) {
      $('.vtmb').addClass('tmb-inactive');
      $('.tmb').addClass('tmb-inactive');
      $('.tmb-all').removeClass('tbm-inactive').addClass('tmb-active');
      $('.tmb-' + variantId).removeClass('tmb-inactive').addClass('tmb-active');
      var firstThumb = $('.tmb-' + variantId)[0];
    }
    function loadImageOfThumbnail(e) {
      e.preventDefault();
      $(".product-gallery > img").attr("src", $(this).attr('href') );
    }

    $(function(){
      refreshImageAndThumbnails('#{variant.id}');
      $("input[name='variant_id']").change(activateVariant);
      $(".product-thumbnails a[href]").click(loadImageOfThumbnail);
    });
.product-gallery
  #thumbnails.thumbnails
    .make-me-sticky
      = render partial: 'spree/products/thumbnails', locals: { product: variant.product }
  .gallery-wrapper
    - if variant.images.present?
      - variant.images.to_a.each_with_index do|image, index|
        = render partial: 'spree/shared/image', locals: { image: image, size: :large }
.product-carousel.owl-carousel.gallery-wrapper
  - variant.gallery.images.to_a.each_with_index do|image, index|
    .gallery-item(dash-hash="Image #{index}")
      = render partial: 'spree/shared/image', locals: { image: image }
